@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Informações sobre appmercado</h5>
        </div>
        <div class="card-body">           
            <p>Entre em contato com a nossa equipe para fazer o suporte.</p>
            <p>
                <i class="fas fa-phone"></i>&nbsp;(11)&nbsp;2222-0000<br />
                <i class="fas fa-mobile-alt"></i>&nbsp;(11)&nbsp;96147-6400<br />
                <i class="fas fa-envelope"></i>&nbsp;appmercado@appmercado.com
            </p>
        </div>
    </div>
</div>
<br />
